.orderlist-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #d5d9d9;
    // border-radius: 10px;
    padding: 10px;
    margin: 10px 0 20px 0;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .order-image {
        width: 10%;
        img {
            width: 100%;
        }
    }
    .order-content {
        width: 50%;
        padding: 0 10px;
        .title {
            margin: 0;
            font-size: 20px;
            color: #000;
            font-weight: 500;
            // border-bottom: 1px solid black;

        }
        p {
            margin: 0 0 5px 0;
            color: #000000;
            font-size: 15px;
            .procuct-title{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .procuct-title-icon{
                font-size: 8px;
                color:#5e5c5c;
            }
        }
        .color{
            color: #5e5c5c;
            font-size: 12px;
            margin-left: 10px;
        }
        .order-on{
            color: #5e5c5c;
            font-size: 12px;
            margin-left: 10px;

        }
        span{
            font-size: 20px;
        }
    }

    .item-price {
        width: 15%;
        p {
            margin: 0;
            color: #000;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
    }
    .order-delivery {
        width: 25%;
        .title {
            margin: 0;
            font-size: 20px;
            padding: 0;
            color: #000;
        }
        .order-color{
            color:rgb(0, 110, 255);
        }
        .delivery-color{
            color: orange;
        }
        .delivered-color{
            color:green;
        }
        p {
            margin: 5px 0;
            color: #5e5c5c;
            font-size: 14px;
        }
    }
}
//orderdetails page
.order-details-container {
    padding: 15px;
    .order-details-title {
        font-size: 32px;
        font-weight: 500;
        margin: 0;
    }
    p {
        padding: 0;
        margin: 0 0 15px 0;
    }
    .details-section {
        display: flex;
        justify-content: space-between;
        border: 1px solid #d5d9d9;
        border-radius: 10px;
        padding: 10px;
        .address-section {
            width: 30%;
        }
        .payment-method {
            width: 30%;
        }
        .price-section {
            width: 35%;
            div {
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                p {
                    margin: 2px;
                }
                .grand-total {
                    font-weight: 600 !important;
                }
            }
        }
        .details-section-heading {
            font-size: 18px;
            font-weight: 600;
        }
        p {
            margin: 10px;
            font-size: 14px;
        }
    }
}
//product details page
.product-details {
    border: 1px solid #d5d9d9;
    border-radius: 10px;
    padding:0px 10px;
    margin-top:30px;
    h2{
        font-size: 22px;
        font-weight: 500;
        margin:20px 0;
    }
    .order-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 10px 0px;
        .order-image {
            width: 10%;
            img {
                width: 100%;
            }
        }
        .order-content {
            width: 50%;
            padding: 0 10px;
            .title {
                margin: 0;
                font-size: 20px;
                color: #000;
            }
            p {
                margin: 5px 0;
                color: #a09e9e;
                font-size: 14px;
            }
            .repeat-icon{
                color:#fff;
            }
            span{
                font-size: 20px;
            }
        }
        .item-price {
            width: 10%;
            p {
                margin: 0;
                color: #000;
                font-size: 20px;
                font-weight: bold;
            }
           
        }
    }
}
