.card-title{
    font-size: 22px;
    align-items: center;
    margin-bottom: 0 !important;
}
.card-content{
    padding: 8px !important;
    border-radius: 0px;
    // display: flex;
    // justify-content: ;
}