.card-title{
    font-size: 22px;
    align-items: center;
    margin-bottom: 0 !important;
}
.order{
    border-bottom: 1px solid;
}
.profile{
    // padding: 8px !important;
    border-radius: 0px;
    // display: flex;
    // justify-content: ;
}
.profile-content{
    padding: 5px 0 0 25px;
    p{
        font-size: 20px;
        padding:5px 0;

    }
}
