.profile-section{
    .profile-form{
        h2{
            font-size: 22px;
            font-weight: 500;            
        }
    }
    .gender-title{
        margin:0px;
        font-size: 18px;
        font-weight: 400;
    }
    .gender-section{
        display: flex;
        p{
            margin-right: 20px;
        }
    }
    .hs-profile-img {
        width: 150px;
        margin-right: 32px;
    }
}
