.productinsertform{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2{
        font-size: 24px;
        text-align: center;
    }
    form{
        margin:auto;
    }
    .star_color{
        color:red;
    }
}
.admin-center{
    margin: auto;
}
.addproduct-button{
    text-align: right;
}
.hs-add-product {
    .icon {
        vertical-align: bottom;
        color: #00acc1;
    }
    &.title {
        h6 {
            color: #00acc1;
        }
    }
}
/** Globals **/
.hs-select2 {
    input#react-select-2-input {
        height: 20px;
    }
}