.hk-signup.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .input-field {
        width: 300px;
    }
}

.signup-form{
    padding:0px 40px;
    .signup-btn{
        background-color: var(--primary_color);
        font-size: 16px;
        font-weight: bold;
        padding: 0 50px 0 50px;
        margin-bottom: 20px;
    }
    .status{
        color: red;
        text-align: center;
    }
}
.toast-icon{
    color:#fff !important;
}