.hs-product-summary-title {
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hs-product-item {
    font-size: 16px;
    vertical-align: bottom;
}

.hs-clickable {
    cursor: pointer;
}