.reset-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;

    .reset-form {
        border: 1.5px solid var(--primary_color);
        padding: 20px 50px 20px 50px;
        .logo-name {
            color: var(--primary_color);
            font-weight: bold;
            padding: 0px;
            margin: 0;
        }
        .reset-btn {
            background-color: var(--primary_color);
            font-size: 16px;
            font-weight: bold;
            padding: 0 50px 0 50px;
            margin-bottom: 20px;
        }
    }
}
