.hk-header{
    background-color: var(--theme_color);
    padding: 0 16px;
}

.hk-main-menu li a{
    text-transform: uppercase;
    color:var(--primary_color);
}

.hk-logo{
    height: 84px;
    margin-top: -12px;
}
.user-icon{
    color:var(--primary_color);

}