.heading-upload{
    font-size: 18px;
    background-color:#4f2624;
    padding: 15px;
    color:#fff;
}
.submit-btn{
    float: right;
    margin-top: 15px;
    Button{
        font-size: 14px !important;
    }
}