.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* reset CSS of UL */
ul{
    margin:0px;
    padding:0px;
    list-style: none;
  }

.hk-account.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .input-field {
        width: 300px;
        position: relative;
    }
}

.hk-logo.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  height: 0;
  .logo {
    position: absolute;
    top: 96px;
    width: 68px;
  }
}

.hk-order-status {
  float: right;
  &.active {
    color: blue;
  }
  &.success {
    color: green;
  }
  &.error {
    color: red;
  }
}

.btn-default {
  background-color: #fff;
  color: #ccc;
}

.h-ml-16 {
  margin-left: 16px;
}

.hs-mt-16 {
  margin-top: 16px;
}

.hs-action-wrapper {
  display: flex;
  padding: 16px;
  justify-content: flex-end;
}

.hs-action-icon {
  cursor: pointer;
}

