@import '~materialize-css/dist/css/materialize.min.css';
$roboto-font-path: '~roboto-fontface/fonts';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface.scss';


:root{
    --theme_color:#FAF4F8;
    --primary_color: #4f2624;
    --text-color:rgb(72, 79, 86);
    --bg_color_secondary:#2B3947;
}

.no-padding{
    padding:0px;
}

.font-bold{
    font-weight: bold;
}
.no-margin{
    margin: 0;
}
.pad28{
    padding: 28px;
}

.hs-no-products {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: bold;
    }
}

.hs-active {
    background-color: var(--primary_color);
    a {
        color: #fff !important;
    }
}

.hs-page-not-found {
    font-size: 24px;
    text-align: center;
    min-height: calc(100vh - 358px);
    line-height: calc(100vh - 358px);
}

.ft-12 {
    font-size: 12px!important;
}

.hs-form-icon {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 8px;
}

.hs-text-align-rt {
    text-align: right;
}

.hs-bg-primary-color {
    background-color: var(--primary_color);
}

.hs-min-height-300 {
    min-height: 300px;
}

.hs-no-shadow {
    border: 0;
    box-shadow: none;
}

.hs-vt-align-bottom {
    vertical-align: bottom;
}